$header-height: 38px;

:host {
  background-color: var(--thing-catalog-secondary-color);
  border-bottom: 1px solid var(--thing-catalog-border-color);
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: $header-height;
  line-height: $header-height;
  padding-left: 8px;
}
