:host {
  background-color: var(--thing-catalog-secondary-color);
  border-bottom: 1px solid var(--thing-catalog-border-color);
  display: block;
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
}
