.Appbar {
  align-items: center;
  background-color: var(--thing-catalog-primary-color);
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 40px;
  padding: 0px 16px;
  width: 100%;
}
